body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: green;
}

#field td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}
